@page
@model currentworkingsassyplanner.Pages.FAQModel
@{
    ViewData["Title"] = "FAQ";
}
<!--All code on this page was made by Ajay-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/testbootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/faq.css" />
    <title></title>
    <style>
</style>
</head>
<body>
    <h1 class="mt-5">Frequently Asked Questions</h1>
    <h6>All planners are made to order in house - please order early to avoid disappointment.</h6> 
    <h6>Current accurate processing times are always shown at the top of the homepage. rest assured your planner will be in production in order</h6>
    <h6>of the date they come in. You will get a dispatch email as soon as it’s completed</h6>
    <h6>Andrea x</h6>


    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button  class="btn btn-link collapsed" " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        I haven't received my order confirmation via email yet?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                 The email with your order confirmation should arrive within seconds/minutes of completing your order. If it's been more than 10 minutes and you still don't see it, this usually happens for a few common reasons:
                 <p>1) The email went to your spam/junk folder and is waiting patiently for you there.
                 </p>
                 <p>
                 2) If you checked out via Paypal, make sure you check the email account associated with your Paypal account (and then see #1 above
                 </p>  
                 <p>
                 3) There was a typo in your email address during checkout. If you've tried #1 and #2 above and still can't find your order email, Send me an email through the Contact Form as soon as possible and I will do my very best to get your sorted! Be sure to include the full name the order was placed under and the date of ordering.
                 </p>
             </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        How much personalisation can I have on the cover?
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Within reason you can have what you like! I may amend the cover text area slightly to suit your desired text supplied if I think it will look better...  I always do my best to make it look as good as possible :)
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Personalisation note...
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    All capital letters i.e.. JENNIFER MARSHALL does not look good with the handwriting font I use, So Jennifer Marshall is the preferred way of showing the personalisation in your text box when adding your name.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Colours...
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    Colours on screen are displayed in RGB but the printed planner is CMYK so there may be slight variations in how the colours are - this cannot be helped and is universal but rest assured i make sure its a super close match!
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Notebooks...
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    All notebooks are same size as the classic planners which are A5
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">

                        ​How Do I Place An Order?
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                   In the shop, select which product you would like to view more information on...  

​

                   Select your options, choose to upgrade your coil to gold metallic or clear & just add to basket and checkout...  I take all payment methods including Paypal...  Don't forget to include any promo codes you may have if you have recently signed up to my mailing list!  These cannot be added after purchase unfortunately...

​

                   If the product offers customisation then just fill in the required fields and place your order! If you don't want it personalised leave the box blank and it will just show the year. You will receive confirmation of order immediately via email.  Please check your other email folders junk/trash in case it slips past your inbox!

​

                   I am now uploading different layouts and you will need to view the main cover images to choose your cover for these.  They will be represented by a number to add in the box at checkout.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSeven">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        How soon do you dispatch?
                    </button>
                </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
                    My normal processing times is 3 working days which is really quick for handmade and personalised products, I like to keep all my customers happy! The exception to this is royal mail strikes, high volume of orders at key times & during a (rare!) holiday I might take, but processing times will be updated at the very top of the home page.  You will see these processing times before you order in this event.

​

                    In case of any other delay I would email you to let you know in advance.  Please use the contact page if you need to get in touch. I always reply promptly.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingEight">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Payment and Shipping
                    </button>
                </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                <div class="card-body">
                     Other than instant download items, the physical products available for sale are all shipped via Royal Mail 2nd Class postage - so delivery is usually 2-3 days.  If delivery is urgent please contact me and I can help.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingNine">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Notebooks...
                    </button>
                </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                <div class="card-body">
                    All notebooks are same size as the classic planners which are A5
                </div>
            </div>
        </div>
    </div>
     <h3> Your Questions...</h3>

​

<p>Have a question not answered here? Head over to the <a href="/contact">contact form</a> to submit your question :-) Anything else please ask me! Thanks Andrea x</p>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-abcdefgh1234567890" crossorigin="anonymous">
</body>
</html>